
#courses {
    background-color: var(--grey);
    padding: 3%;
    color: var(--darkblue);
}


.menu img {
    width: 180px;
    border-radius: 50%;
}

.menu{
   
   margin: 0 auto;
   margin-bottom: 0.5rem;
   width: 80%;
   
}

.category-menu {
    margin: 0 auto;
}

.category-menu img{
    max-width: 180px;
    border-radius: 50%;
    border:1px solid #ddd;
    padding: 3px;
    transition: .5s;
}

.course-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
}


.menu .course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    flex-direction: column;
}

li {
    list-style-type: none;
    text-align: center;
    margin-bottom: 5rem;
}


.course-title {
    margin: auto;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    
}
.course-title h3 span{
    color: var(--red);
}

.img1:hover, .img2:hover, .img3:hover{
    border-radius: 0;
}

.course-title h3:before{
    position: absolute;
    content:"";
    width: 200px;
    height: 1px;
    background-color: var(--red);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.course-title h3{
        position:sticky;
    }

.course-description {
    margin: auto;
}

.course-description > p {
    margin-bottom: 0.5rem;
}

h1 {
    color: var(--red);
    text-align: center;
    font-size: 5em;
    margin-bottom: 2em;
    text-decoration: underline;
}



h2.category-title {
    color: var(--red);
    font-size: 3.5rem;
    margin-bottom: 4rem;

}

h4.allergens-title {
    display: inline;
    font-weight: normal;
    font-style: italic;

}

p.allergens-text {
    display: inline;
}