
:root {
    /*Lager variabler for farger, kan brukes som value
    i css-koden med var(--NAVN_PÅ_VARIABELEN)*/
    --grey: #E8E8E8;
    --red: #F05454;
    --blue: #30475E;
    --darkblue: #222831;
    --purple: purple;
  }


* {
    /*Setter font-family og tekst farge for alle elementer*/
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: var(--darkblue);
}

a {
    /*Setter properties for alle a-tagger (linker) */
    color: var(--darkblue);
    font-size: 1.5em; /* 1.5 * fontstørrelse til browser */ 
    font-weight: bold;
    text-decoration: none; /* fjerner underline */ 
}

  /*Når musepeker er over link */
a:hover {
    color: yellow;
}

body {
    background: var(--grey);
    color: white;
    margin: 0;
    padding: 0; 
}

header {
    margin: 0;
    background-color: var(--red);
    text-align: center; /* sentrerer innhold i header */
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
    width: 100%;
    height: 80px;
    z-index: 1;
    padding-top: 40px;
}

nav a {
    float: none;
    color: var(--darkblue);
    padding: 50px 37px;
    text-decoration: none;
    font-size: 26px;
}


.navigation > li {
    /*width: 200px;*/
    height: 0;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    font-size: 30px;
}

html {
    scroll-behavior: smooth;
}

#logo{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

#welcome {
    text-align: center;
    font-size: 1.5em;
    padding: 20%;
    background-image:url("img/italian-restaurant_npreviews_54a7.jpeg");
    background-size: 100% auto;
    
}

#welcome-text {
    padding: 25px 30px; 
    background-color: var(--grey);
    border-top: 15px solid var(--red);
    border-bottom: 15px solid var(--red);
    font-size: 60px;
}

#welcome-text > p {
    color: var(--darkblue);
}

#courses {
    background-color: var(--grey);
    padding: 3%;
    color: var(--darkblue);
}

#courses > ul {
    list-style-type: none;
}

#courses > ul > li > h2{
    text-decoration: underline;
}

.gmap-canvas {
    display: inline-block;
}

#contact > ul {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: var(--red);
}

#contact p:not(:first-child) {
    line-height: 30px;
    font-size: 17px;
}

aside {
    position: relative;
}

.contact-logo{
    font-size:xx-large;
    text-align:left;
    margin-bottom: 1.5rem;
}

.course-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.course-image{
    width: 600px;
}

.courses {
    display: flex;
    gap: 50px;
}

 h1{
    color: var(--red);
    text-align: center;
    font-size: 5em;
    margin-bottom: 2em;
    text-decoration: underline;
}
.reportname{
    margin: 50px;
    text-align: center;
}

#gmap_canvas {
    width: 600;
    height: 400;
}